@import "tailwindcss";

:root {
  --background: #efefefc2;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #c7c3c3;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

a.primary {
  color: inherit;
  color: rgb(0, 187, 255);
}
a.primary:hover {
  color: rgb(166, 78, 243);
}
a.secondary {
  color: inherit;
  color: rgb(114, 9, 206);
}

a.secondary:hover{
  opacity: 60%;
}

